a {
	color: grey;
	text-decoration: none;
}

#top_bar {
	height:50px;
	width:100%;
}

#name {
	float: left;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	margin-left: 10%;
	width: 20%;
	height: 100%;
	color: white;
	background-color: #4AAAA5;
}

#spacer {
	background-color: white;
	height: 100%;
	width:30%;
	float: left;
}

#vsep {
	border-right: 1px solid grey;
}
#link {
	line-height: 50px;
	height: 100%;
}

